<a href="https://colab.research.google.com/github/rizqihilman/rizqihilman/blob/main/Data_Cleansing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Libraries

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load Dataset

In [18]:
# change the path according to your file location in your Google Drive
df = pd.read_csv('/content/drive/MyDrive/botak.csv')

In [16]:
# informasi general tentang dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 621 entries, 0 to 620
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   loan_id             621 non-null    object
 1   birth_date          572 non-null    object
 2   phone_number        569 non-null    float64
 3   gender              608 non-null    object
 4   married             618 non-null    object
 5   dependents          605 non-null    object
 6   education           620 non-null    object
 7   self_employed       588 non-null    object
 8   applicant_income    612 non-null    float64
 9   coapplicant_income  621 non-null    float64
 10  loan_amount         621 non-null    int64
 11  loan_term_month     621 non-null    int64
 12  loan_term_year      621 non-null    int64
 13  credit_history      570 non-null    float64
 14  has_credit_card     88 non-null     object
 15  property_type       620 non-null    object
 16  loan_status         621 non-null    object
dtypes: float64(4), int64(3), object(10)
memory usage: 82.6+ KB

Pengamatan\:
1. Data terdiri dari 7991 baris
2. Tampak beberapa kolom masih memiliki null/missing values (Non-Null Count < jumlah baris)
3. Sepertinya tidak ada issue yang mencolok pada tipe data untuk setiap kolom (sudah sesuai)

## Cuplikan Data

In [8]:
# 5 baris teratas dari data
df.head()

,umur,jenis_kelamin,pekerjaan,provinsi,gaji,is_menikah,is_keturunan,berat,tinggi,sampo,is_merokok,pendidikan,botak_prob
0,42.0,Laki-laki,PNS,Padang,7.864005e+06,0,0.0,61.928685,152.174164,Deadbuoy,1,S1,0.487655
1,33.0,Laki-laki,Pegawai swasta,Palangkaraya,6.492662e+06,0,0.0,49.374507,152.822969,Moonsilk,1,SMA,0.297270
2,59.0,Laki-laki,Freelance,Serang,8.086303e+06,1,0.0,59.072807,159.911047,Merpati,1,S1,0.467848
3,38.0,Laki-laki,Pegawai swasta,Gorontalo,1.147321e+07,0,1.0,68.338014,162.558997,Moonsilk,0,S1,0.616418
4,33.0,Perempuan,Freelance,Tanjungselor,1.475942e+07,0,0.0,53.769996,154.579510,Pantone,1,S2,0.115439

In [ ]:
# pengelompokan kolom berdasarkan jenisnya
nums = ['umur', 'gaji', 'is_menikah', 'is_keturunan', 'berat', 'tinggi', 'is_merokok', 'botak_prob']
cats = ['jenis_kelamin', 'pekerjaan', 'sampo', 'pendidikan','provinsi']

# Missing Data

In [7]:
# jumlah entry NULL di setiap kolom
df.isna().sum()

umur              0
jenis_kelamin     9
pekerjaan        67
provinsi          0
gaji             23
is_menikah        0
is_keturunan     15
berat            39
tinggi            0
sampo            57
is_merokok        0
pendidikan        0
botak_prob        0
dtype: int64

In [ ]:
# drop baris dengan missing values
df = df.dropna()

In [9]:
# cek apakah sudah berhasil
df.isna().sum()

umur              0
jenis_kelamin     9
pekerjaan        67
provinsi          0
gaji             23
is_menikah        0
is_keturunan     15
berat            39
tinggi            0
sampo            57
is_merokok        0
pendidikan        0
botak_prob        0
dtype: int64

# Duplicated Data

In [11]:
# cek jumlah duplicated rows
# dari semua kolom
df.duplicated().sum()

101

In [12]:
# drop duplicated rows
print(df.duplicated().sum())
df.drop_duplicates(inplace=True)
print(df.duplicated().sum())

101
0

# Outliers Removal
Menggunakan konsep IQR

In [ ]:
print(f'Jumlah baris sebelum memfilter outlier: {len(df)}')

for col in ['umur','gaji', 'berat', 'tinggi']:
  Q1 = df[col].quantile(0.25)
  Q3 = df[col].quantile(0.75)
  IQR = Q3-Q1
  low_limit = Q1 - 1.5*IQR
  high_limit = Q3 + 1.5*IQR
  df = df[(df[col] >= low_limit) & (df[col] <= high_limit)]

print(f'Jumlah baris setelah memfilter outlier: {len(df)}')

Jumlah baris sebelum memfilter outlier: 7682
Jumlah baris setelah memfilter outlier: 6989

# Feature Encoding

In [ ]:
# pengecekan nilai/entri dari kolom-kolom kategorikal

for col in cats:
  print(f'value counts of column {col}')
  print(df[col].value_counts())
  print('---'*10, '\n')

value counts of column jenis_kelamin
Laki-laki    4651
Perempuan    2338
Name: jenis_kelamin, dtype: int64
------------------------------

value counts of column pekerjaan
PNS               2818
Pegawai swasta    2797
Freelance         1096
Pengangguran       278
Name: pekerjaan, dtype: int64
------------------------------

value counts of column sampo
Merpati            1448
Pantone            1409
Moonsilk           1384
Deadbuoy           1381
Shoulder & Head    1367
Name: sampo, dtype: int64
------------------------------

value counts of column pendidikan
S1     3845
SMA    1773
S2      576
SMP     475
SD      191
S3      129
Name: pendidikan, dtype: int64
------------------------------

value counts of column provinsi
Sofifi            233
Denpasar          228
Tanjungselor      227
Pekanbaru         227
Ambon             226
Pangkalpinang     225
Banda Lampung     225
Banda Aceh        225
Serang            221
Samarinda         219
Manado            216
Banjarmasin       213
Mamuju            212
Tanjung Pinang    210
Jakarta           209
Mataram           204
Gorontalo         204
Pontianak         203
Surabaya          203
Palangkaraya      203
Padang            201
Semarang          201
Palembang         200
Bandung           198
Kupang            198
Yogyakarta        196
Bengkulu          196
Jambi             194
Manokwari         190
Kendari           183
Makassar          180
Palu              175
Jayapura          174
Medan             170
Name: provinsi, dtype: int64
------------------------------

Strategi encoding
* `jenis_kelamin` & `pendidikan` \: label encoding
* `pekerjaan` & `sampo` \: One Hot Encoding 
* `provinsi`: sepertinya dapat di-drop, karena distinct values terlalu banyak

In [ ]:
# drop kolom provinsi
df = df.drop(columns='provinsi')

In [ ]:
# label encoding
# untuk kolom jenis_kelamin dan pendidikan
mapping_jenis_kelamin = {
    'Perempuan' : 0,
    'Laki-laki' : 1
}

mapping_pendidikan = {
    'SD' : 0,
    'SMP' : 1,
    'SMA' : 2,
    'S1' : 3,
    'S2' : 4,
    'S3' : 5
}

df['jenis_kelamin'] = df['jenis_kelamin'].map(mapping_jenis_kelamin)
df['pendidikan'] = df['pendidikan'].map(mapping_pendidikan)

In [ ]:
# One hot encoder pekerjaan dan sampo
# WARNING: run code ini sekali saja
for cat in ['pekerjaan', 'sampo']:
    onehots = pd.get_dummies(df[cat], prefix=cat)
    df = df.join(onehots)

# Drop kolom-kolom yang outdated

In [ ]:
# drop kolom pekerjaan dan sampo yang asli (karena sudah di-encoding)
df = df.drop(columns=['pekerjaan', 'sampo'])

In [ ]:
# cek 'n ricek penampakan data setelah preprocessing
df.head()

,umur,jenis_kelamin,gaji,is_menikah,is_keturunan,berat,tinggi,is_merokok,pendidikan,botak_prob,pekerjaan_Freelance,pekerjaan_PNS,pekerjaan_Pegawai swasta,pekerjaan_Pengangguran,sampo_Deadbuoy,sampo_Merpati,sampo_Moonsilk,sampo_Pantone,sampo_Shoulder & Head
0,42.0,1,7.864005e+06,0,0.0,61.928685,152.174164,1,3,0.487655,0,1,0,0,1,0,0,0,0
1,33.0,1,6.492662e+06,0,0.0,49.374507,152.822969,1,2,0.297270,0,0,1,0,0,0,1,0,0
2,59.0,1,8.086303e+06,1,0.0,59.072807,159.911047,1,3,0.467848,1,0,0,0,0,1,0,0,0
3,38.0,1,1.147321e+07,0,1.0,68.338014,162.558997,0,3,0.616418,0,0,1,0,0,0,1,0,0
4,33.0,0,1.475942e+07,0,0.0,53.769996,154.579510,1,4,0.115439,1,0,0,0,0,0,0,1,0

In [ ]:
# informasi dataframe yang sudah di-preprocessing
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6989 entries, 0 to 7911
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   umur                      6989 non-null   float64
 1   jenis_kelamin             6989 non-null   int64
 2   gaji                      6989 non-null   float64
 3   is_menikah                6989 non-null   int64
 4   is_keturunan              6989 non-null   float64
 5   berat                     6989 non-null   float64
 6   tinggi                    6989 non-null   float64
 7   is_merokok                6989 non-null   int64
 8   pendidikan                6989 non-null   int64
 9   botak_prob                6989 non-null   float64
 10  pekerjaan_Freelance       6989 non-null   uint8
 11  pekerjaan_PNS             6989 non-null   uint8
 12  pekerjaan_Pegawai swasta  6989 non-null   uint8
 13  pekerjaan_Pengangguran    6989 non-null   uint8
 14  sampo_Deadbuoy            6989 non-null   uint8
 15  sampo_Merpati             6989 non-null   uint8
 16  sampo_Moonsilk            6989 non-null   uint8
 17  sampo_Pantone             6989 non-null   uint8
 18  sampo_Shoulder & Head     6989 non-null   uint8
dtypes: float64(6), int64(4), uint8(9)
memory usage: 920.1 KB