<a href="https://colab.research.google.com/github/rizqihilman/rizqihilman/blob/main/Jumlah_Penduduk_Kelompok_Pekerjaan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Cleansing** - Jumlah Penduduk Jawa Barat Berdasarkan kelompok Pekerjaan dan Jenis Kelamin

# Import Library

In [20]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load Dataset

In [22]:
# change the path according to your file location in your Google Drive
df = pd.read_csv('/content/disdukcapil-2-od_15922_jml_penduduk__kelompok_pekerjaan_jk_data.csv')

In [23]:
# informasi general tentang dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  196 non-null    int64
 1   kode_provinsi       196 non-null    int64
 2   nama_provinsi       196 non-null    object
 3   kelompok_pekerjaan  196 non-null    object
 4   jenis_kelamin       196 non-null    object
 5   jumlah_penduduk     196 non-null    int64
 6   satuan              196 non-null    object
 7   tahun               196 non-null    int64
dtypes: int64(4), object(4)
memory usage: 12.4+ KB

    Data terdiri dari 196 baris

# Cuplikan Data

In [24]:
# 5 baris teratas dari data
df.head()

,id,kode_provinsi,nama_provinsi,kelompok_pekerjaan,jenis_kelamin,jumlah_penduduk,satuan,tahun
0,1,32,JAWA BARAT,TIDAK/BELUM BEKERJA,LAKI-LAKI,5789236,JIWA,2015
1,2,32,JAWA BARAT,TIDAK/BELUM BEKERJA,PEREMPUAN,5110515,JIWA,2015
2,3,32,JAWA BARAT,MENGURUS RUMAH TANGGA,LAKI-LAKI,438,JIWA,2015
3,4,32,JAWA BARAT,MENGURUS RUMAH TANGGA,PEREMPUAN,9832208,JIWA,2015
4,5,32,JAWA BARAT,PELAJAR/MAHASISWA,LAKI-LAKI,3904150,JIWA,2015

In [25]:
nums = ['id', 'kode_provinsi', 'jumlah_penduduk', 'tahun']
cats = ['nama_provinsi', 'kelompok_pekerjaan', 'jenis_kelamin', 'satuan']

# Missing Data

In [26]:
# jumlah entry NULL di setiap kolom
df.isna().sum()

id                    0
kode_provinsi         0
nama_provinsi         0
kelompok_pekerjaan    0
jenis_kelamin         0
jumlah_penduduk       0
satuan                0
tahun                 0
dtype: int64

Tidak ada Data yang Kosong

In [29]:
# cek jumlah duplicated rows
# dari semua kolom
df.duplicated().sum()

0

Tidak ada Duplikasi Data

# Outliers Removal
Menggunakan konsep IQR

In [31]:
print(f'Jumlah baris sebelum memfilter outlier: {len(df)}')

for col in ['jumlah_penduduk','tahun']:
  Q1 = df[col].quantile(0.25)
  Q3 = df[col].quantile(0.75)
  IQR = Q3-Q1
  low_limit = Q1 - 1.5*IQR
  high_limit = Q3 + 1.5*IQR
  df = df[(df[col] >= low_limit) & (df[col] <= high_limit)]

print(f'Jumlah baris setelah memfilter outlier: {len(df)}')

Jumlah baris sebelum memfilter outlier: 196
Jumlah baris setelah memfilter outlier: 189

In [32]:
# pengecekan nilai/entri dari kolom-kolom kategorikal

for col in cats:
  print(f'value counts of column {col}')
  print(df[col].value_counts())
  print('---'*10, '\n')

value counts of column nama_provinsi
JAWA BARAT    189
Name: nama_provinsi, dtype: int64
------------------------------

value counts of column kelompok_pekerjaan
TIDAK/BELUM BEKERJA                        14
PELAJAR/MAHASISWA                          14
PENSIUNAN                                  14
PNS/TNI/POLRI                              14
KARYAWAN                                   14
BURUH/TUKANG/INDUSTRI/KONSTRUKSI           14
KELOMPOK PROFESI                           14
BIDANG PENDIDIKAN DAN KESEHATAN            14
ROHANIAWAN                                 14
PERTANIA/PERIKANAN/PERTERNAKAN             14
PEJABAT NEGRA/DAERAH/DEWAN/PEMERINTAHAN    14
WIRASWASTA                                 14
LAINNYA                                    14
MENGURUS RUMAH TANGGA                       7
Name: kelompok_pekerjaan, dtype: int64
------------------------------

value counts of column jenis_kelamin
LAKI-LAKI    98
PEREMPUAN    91
Name: jenis_kelamin, dtype: int64
------------------------------

value counts of column satuan
JIWA    189
Name: satuan, dtype: int64
------------------------------

In [33]:
# drop kolom provinsi
df = df.drop(columns='satuan')

In [34]:
# label encoding
# untuk kolom jenis_kelamin
mapping_jenis_kelamin = {
    'LAKI-LAKI' : 0,
    'PEREMPUAN' : 1
}
df['jenis_kelamin'] = df['jenis_kelamin'].map(mapping_jenis_kelamin)

In [35]:
df.head()

,id,kode_provinsi,nama_provinsi,kelompok_pekerjaan,jenis_kelamin,jumlah_penduduk,tahun
0,1,32,JAWA BARAT,TIDAK/BELUM BEKERJA,0,5789236,2015
1,2,32,JAWA BARAT,TIDAK/BELUM BEKERJA,1,5110515,2015
2,3,32,JAWA BARAT,MENGURUS RUMAH TANGGA,0,438,2015
4,5,32,JAWA BARAT,PELAJAR/MAHASISWA,0,3904150,2015
5,6,32,JAWA BARAT,PELAJAR/MAHASISWA,1,3534924,2015

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 189 entries, 0 to 195
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  189 non-null    int64
 1   kode_provinsi       189 non-null    int64
 2   nama_provinsi       189 non-null    object
 3   kelompok_pekerjaan  189 non-null    object
 4   jenis_kelamin       189 non-null    int64
 5   jumlah_penduduk     189 non-null    int64
 6   tahun               189 non-null    int64
dtypes: int64(5), object(2)
memory usage: 11.8+ KB

# Data Wrangling

In [45]:
csv_data = pd.read_csv('/content/disdukcapil-2-od_15922_jml_penduduk__kelompok_pekerjaan_jk_data.csv')
 
print(csv_data.describe(exclude="O"))

              id  kode_provinsi  jumlah_penduduk        tahun
count  196.00000          196.0     1.960000e+02   196.000000
mean    98.50000           32.0     1.617186e+06  2018.000000
std     56.72448            0.0     2.503867e+06     2.005122
min      1.00000           32.0     0.000000e+00  2015.000000
25%     49.75000           32.0     7.409625e+04  2016.000000
50%     98.50000           32.0     2.366590e+05  2018.000000
75%    147.25000           32.0     3.190226e+06  2020.000000
max    196.00000           32.0     1.159792e+07  2021.000000

In [48]:
print(csv_data.head(10))
csv_data=csv_data.fillna(csv_data.mean())
print("Dataset yang sudah diproses Handling Missing Values dengan Mean :")
print(csv_data.head(10))

   id  kode_provinsi nama_provinsi     kelompok_pekerjaan jenis_kelamin  \
0   1             32    JAWA BARAT    TIDAK/BELUM BEKERJA     LAKI-LAKI
1   2             32    JAWA BARAT    TIDAK/BELUM BEKERJA     PEREMPUAN
2   3             32    JAWA BARAT  MENGURUS RUMAH TANGGA     LAKI-LAKI
3   4             32    JAWA BARAT  MENGURUS RUMAH TANGGA     PEREMPUAN
4   5             32    JAWA BARAT      PELAJAR/MAHASISWA     LAKI-LAKI
5   6             32    JAWA BARAT      PELAJAR/MAHASISWA     PEREMPUAN
6   7             32    JAWA BARAT              PENSIUNAN     LAKI-LAKI
7   8             32    JAWA BARAT              PENSIUNAN     PEREMPUAN
8   9             32    JAWA BARAT          PNS/TNI/POLRI     LAKI-LAKI
9  10             32    JAWA BARAT          PNS/TNI/POLRI     PEREMPUAN

   jumlah_penduduk satuan  tahun
0          5789236   JIWA   2015
1          5110515   JIWA   2015
2              438   JIWA   2015
3          9832208   JIWA   2015
4          3904150   JIWA   2015
5          3534924   JIWA   2015
6           216570   JIWA   2015
7            82714   JIWA   2015
8           430307   JIWA   2015
9           213953   JIWA   2015
Dataset yang sudah diproses Handling Missing Values dengan Mean :
   id  kode_provinsi nama_provinsi     kelompok_pekerjaan jenis_kelamin  \
0   1             32    JAWA BARAT    TIDAK/BELUM BEKERJA     LAKI-LAKI
1   2             32    JAWA BARAT    TIDAK/BELUM BEKERJA     PEREMPUAN
2   3             32    JAWA BARAT  MENGURUS RUMAH TANGGA     LAKI-LAKI
3   4             32    JAWA BARAT  MENGURUS RUMAH TANGGA     PEREMPUAN
4   5             32    JAWA BARAT      PELAJAR/MAHASISWA     LAKI-LAKI
5   6             32    JAWA BARAT      PELAJAR/MAHASISWA     PEREMPUAN
6   7             32    JAWA BARAT              PENSIUNAN     LAKI-LAKI
7   8             32    JAWA BARAT              PENSIUNAN     PEREMPUAN
8   9             32    JAWA BARAT          PNS/TNI/POLRI     LAKI-LAKI
9  10             32    JAWA BARAT          PNS/TNI/POLRI     PEREMPUAN

   jumlah_penduduk satuan  tahun
0          5789236   JIWA   2015
1          5110515   JIWA   2015
2              438   JIWA   2015
3          9832208   JIWA   2015
4          3904150   JIWA   2015
5          3534924   JIWA   2015
6           216570   JIWA   2015
7            82714   JIWA   2015
8           430307   JIWA   2015
9           213953   JIWA   2015

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.